<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="my-4">Conversation Demo</h3>
      <%= raif_conversation(@conversation) %>
    </div>
    <div class="col-md-4">
      <%= turbo_stream_from :document_summaries %>
      
      <h3 class="my-4">Task Demo</h3>
      <%= render "documents/form", document: Document.new %>
      <div id="document-summary" class="mt-5">
      </div>
    </div>
    <div class="col-md-4">
      <%= turbo_stream_from :agent_tasks %>
      
      <h3 class="my-4">Agent Demo</h3>
      <%= form_with url: agents_path, method: :post do |form| %>
        <%= form.text_field :task, placeholder: "Enter a task" %>
        <%= form.submit "Run Agent", class: "btn btn-primary" %>
      <% end %>

      <div id="agent-progress" class="mt-5">
      </div>
    </div>
  </div>
</div>
